<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alterar Evento</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Detalhes do Evento</h1>

		<div class="row">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Evento</span>
    
          		<p><strong>Codigo:</strong> <span th:text="${evento.id}">12</span></p>
          		<p><strong>Nome:</strong> <span th:text="${evento.nome}">Casamento</span></p>
          		<p><strong>Local:</strong> <span th:text="${evento.local}">Hotel Gloraia</span></p>
          		<p><strong>Data:</strong> <span th:text="${evento.data}">12/12/12</span></p>
          		<p><strong>Hora:</strong> <span th:text="${evento.horario}">12:12</span></p>
        
        </div>
      </div>
    </div>
  </div>
            

	</div>
</body>
</html>