<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h1>Adicionar Evento</h1>

		<form action="/eventos" method="post">

			<div>
				<label>Nome:</label> <input type="text" name="nome" required="required">
			</div>

			<div>
				<label>Local:</label> <input type="text" name="local" required="required">
			</div>

			<div>
				<label>Data:</label> <input type="date" name="data" required="required">
			</div>

			<div>
				<label>Horario:</label> <input type="datetime" name="horario" required="required">
			</div>

			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>

		</form>
	</div>
</body>
</html>